:host,
.sl-theme-dark {
    --sl-color-background-main: hsl(295, 43%, 5%);
    --sl-color-background-light: hsl(228, 15%, 10%);
    --sl-color-border-1: hsl(228, 15%, 18%);

    --sl-color-text-main: hsl(30, 29%, 93%);
    --sl-color-text-dark: hsl(30, 29%, 10%);

    --sl-color-primary-50: hsl(31, 95%, 93%);
    --sl-color-primary-100: hsl(31, 96%, 90%);
    --sl-color-primary-200: hsl(32, 95%, 85%);
    --sl-color-primary-300: hsl(32, 94%, 80%);
    --sl-color-primary-400: hsl(31, 95%, 75%);
    --sl-color-primary-500: hsl(32, 95%, 70%);
    --sl-color-primary-600: hsl(32, 95%, 59%);
    --sl-color-primary-700: hsl(32, 95%, 48%);
    --sl-color-primary-800: hsl(32, 95%, 37%);
    --sl-color-primary-900: hsl(31, 94%, 26%);
    --sl-color-primary-950: hsl(32, 94%, 21%);

    --sl-color-secondary-50: hsl(227, 47%, 71%);
    --sl-color-secondary-100: hsl(227, 47%, 67%);
    --sl-color-secondary-200: hsl(227, 47%, 59%);
    --sl-color-secondary-300: hsl(227, 47%, 51%);
    --sl-color-secondary-400: hsl(228, 47%, 43%);
    --sl-color-secondary-500: hsl(228, 47%, 35%);
    --sl-color-secondary-600: hsl(228, 46%, 31%);
    --sl-color-secondary-700: hsl(228, 47%, 27%);
    --sl-color-secondary-800: hsl(228, 47%, 23%);
    --sl-color-secondary-900: hsl(228, 47%, 19%);
    --sl-color-secondary-950: hsl(228, 47%, 17%);
}