@use './vars';
@use './utilities';

@import 'normalize/normalize';
@include normalize();
@import './animations';
@import './theme';
@import './typography';

html {
    scroll-behavior: smooth;
}

body {
    color: var(--sl-color-text-main);
    background-color: var(--sl-color-background-main);
}

a {
    transition: color 100ms ease-in;
}

a:hover {
    color: var(--sl-color-secondary-300);
}

#aboutMe,
#projects,
#contact {
    scroll-margin-top: 72px;
}

.container {
    @include normalize-rhythm(padding, 0 1);
    max-width: vars.$container-max-width;
    margin: 0 auto;
    overflow-x: visible;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
}

.section-title {
    @include normalize-rhythm(padding-bottom, 0.5rem);
    border-bottom: 2px solid var(--sl-color-border-1);
    color: var(--sl-color-primary-400)
}

// Header
header {
    position: sticky;
    height: 72px;
    border-bottom: 1px solid var(--sl-color-border-1);
    top: 0;
    z-index: 99;
    background-color: var(--sl-color-background-main);
    
    .container {
        @include utilities.flex-row-between;
        @include utilities.padding-y(1);
        position: relative;
    }
    nav {
        display: flex;
        @include normalize-rhythm(gap, 0.75, $base-font-size);
    }
    span {
        color: var(--sl-color-primary-500);
        font-size: 2rem;
        font-weight: 600;
    }
}

#logo-link {
    color: var(--sl-color-secondary-400);
}

#logo-container {
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 45px;

    svg{
        position: absolute;
        translate: 0 -50%;
    }
}

// About Me
#aboutMe {
    .container {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: vars.$breakpoint-lg) {
           flex-direction: row; 
           @include normalize-rhythm(gap, 2, $base-font-size);
        }
    }
}

.self-introduction-container {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    @include normalize-rhythm(margin-top, 1.125, $base-font-size);

    img {
        width: 240px;
        align-self: center;
        border-radius: 9999px;
        border: 2px solid var(--sl-color-secondary-400);
        aspect-ratio: 1 / 1;
    }
}

.personal-values-container {
    display: flex;
    @include normalize-rhythm(gap, 1, $base-font-size);
    @include normalize-rhythm(margin-bottom, 1.125, $base-font-size);
    
    @media screen and (min-width: vars.$breakpoint-md) {
        @include normalize-rhythm(margin-top, 1.125, $base-font-size);
    }
}

.i-value {
    position: relative;
    border-right: 2px solid var(--sl-color-secondary-400);
    writing-mode: vertical-lr;
    
    h2 {
        position: sticky;
        height: fit-content;
        @include normalize-rhythm(top, 6, $base-font-size);
        @include normalize-font-size(38px);
    }
}

.i-value:before, .i-value:after {
  content: " ";
  height: 100%;
  position: absolute;
  top: 0;
  width: 15px;
}

.i-value:after {
  box-shadow: 15px 0 15px -15px inset var(--sl-color-secondary-400);
  right: -15px;
}

.personal-values {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    h3 {
        position: relative;
        color: var(--sl-color-primary-400);
    }
}

.personal-value-container {
    width: 100%;
}

// Projects
#projects {
    background-color: var(--sl-color-background-light);
    @include utilities.padding-y(1.125);

    .container h2 {
        margin-top: 0;
    }
}

.projects-card-container {
    display: flex;
    flex-direction: column;
    @include normalize-rhythm(gap, 1, $base-font-size);
}

.project-card {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--sl-color-border-2);
    box-sizing: border-box;
    @include normalize-rhythm(padding-bottom, 0.01, $base-font-size);

    
    @media screen and (min-width: vars.$breakpoint-lg) {
        max-width: unset;
        min-height: unset;
        width: 100%;
        flex-direction: row;
        @include normalize-rhythm(padding-bottom, 1, $base-font-size);
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        
        @media screen and (min-width: vars.$breakpoint-lg) {
            height: 210px;
            width: 400px; 
        }
    }
}

.project-card-title {
    a {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }
        
    h3 {
        transition: color 100ms ease-out;
        margin: 0;
    }
}

.project-card:nth-last-child(1) {
    border-bottom: none;
    padding-bottom: 0;
}

.project-card-content {
    @media screen and (min-width: vars.$breakpoint-lg) {
        @include utilities.padding-x(1);
    }
}

.tech-stack {
    color: var(--sl-color-primary-400);

    a {
        @include normalize-font-size(16px);
        color: var(--sl-color-primary-400);
        text-decoration: underline;
    }
}

// Contact
#contact {
    .container {
        text-align: center;
    }
}

#contact-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    @include normalize-rhythm(gap, 1, $base-font-size);
    @media screen and (min-width: vars.$breakpoint-sm) {
        flex-direction: row;
        @include normalize-rhythm(gap, 2, $base-font-size);
    }

    a {
        @include normalize-font-size(32px);
    }
}

// Footer
footer {
    @include normalize-rhythm(margin-top, 2, $base-font-size);
    text-align: center;
}