@use './vars';
@use './utilities';

@import 'normalize/normalize';
@include normalize();
@import './animations';
@import './theme';
@import './typography';

html {
    scroll-behavior: smooth;
}

body {
    color: var(--sl-color-text-main);
    background-color: var(--sl-color-background-main);
}

:target::before {
    content: '';
    display: block;
    height: 85px;
    margin: -85px 0 0;
}

:target::before {
    content: '';
    display: block;
    height: 85px;
    margin: -85px 0 0;
}

.container {
    @include normalize-rhythm(padding, 0 1);
    max-width: vars.$container-max-width;
    margin: 0 auto;
    overflow-x: visible;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
}

.section-title {
    @include normalize-rhythm(padding-bottom, 0.5rem);
    border-bottom: 2px solid var(--sl-color-border-1);
    color: var(--sl-color-primary-400)
}

// Header
header {
    position: sticky;
    height: 72px;
    background-color: var(--sl-color-background-main);
    border-bottom: 1px solid var(--sl-color-border-1);
    width: 100dvw;

    .container {
        @include utilities.flex-row-between;
        @include utilities.padding-y(1);
        position: relative;
        z-index: 10;
    }
    nav {
        display: flex;
        @include normalize-rhythm(gap, 0.75, $base-font-size);
    }
    a {
        text-decoration: none;
        color: var(--sl-color-text-main);
        transition: color 150ms ease-in-out;
        font-weight: 500;
    }
    a:hover {
        color: var(--sl-color-accent-200);
    }
    a:active {
        color: var(--sl-color-accent-300);
    }
    span {
        color: var(--sl-color-primary-500);
        font-size: 2rem;
        font-weight: 600;
    }
}

// Hero
.hero {
    @include utilities.flex-center;
    position: relative;
    overflow: hidden;
    min-height: calc(100dvh - 2px);
}

.hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/public/hero-bg.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(1) blur(0);
}

.hero-content{
    position: relative;
}

.hero-greetings {
    @include normalize-font-size(24px);
    opacity: 0;
}

.hero-title {
    letter-spacing: -0.15rem;
    margin: 0;
    @include normalize-rhythm(margin-left, 0.25, $base-font-size);
    opacity: 0;
    color: var(--sl-color-primary-300);
}

.hero-subtitle {
    @include normalize-font-size(20px);
    opacity: 0;
}

// About Me
#about-me {
    .container {
        display: flex;
        flex-direction: column;
        h2 {
            border-radius: 6.5px;
            writing-mode: vertical-lr;
            color: var(--sl-color-primary-400);
            border-right: 2px solid var(--sl-color-accent-400);
            box-shadow: 5px 0 6px -2px var(--sl-color-accent-800);
            @include normalize-font-size(32px);
            
            @media screen and (min-width: vars.$breakpoint-md) {
                border-right: 0;
                border-bottom: 2px solid var(--sl-color-accent-400);
                box-shadow: 0 5px 5px -2px var(--sl-color-accent-800);
                writing-mode: horizontal-tb;
            }
        }
    }
}

.personal-values-container {
    display: flex;
    @include normalize-rhythm(gap, 1, $base-font-size);

    @media screen and (min-width: vars.$breakpoint-md) {
        gap: 0;
        flex-direction: column;
    }
}

.personal-values {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    h3 {
        position: relative;
        color: var(--sl-color-primary-400);
    }
    @media screen and (min-width: vars.$breakpoint-md) {
        @include normalize-rhythm(gap, 2, $base-font-size);
        flex-direction: row;
        justify-content: space-around;
        flex-basis: 50%;
    }
}

.personal-value-container {
    width: 100%;
}